.navbar {
    background-color: rgb(16,21,30);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.logo-link {
    text-decoration: none;
    color: inherit;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.logo-container:hover {
    opacity: 0.8;
}

.logo-img {
    height: 40px;
    width: auto;
}

.logo-text {
    margin: 0;
    font-size: 1.5rem;
    color: white;
}

.navbar nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    transition: color 0.3s ease;
}

.navbar nav a:hover {
    color: #ddd;
}

.login-btn {
    background-color: #007BFF;
    padding: 8px 15px;
    border-radius: 5px;
    color: white;
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background-color: #0069d9;
}